---
image:
  repository: ghcr.io/solanyn/tgp-operator
  tag: latest
  pullPolicy: Always
controller:
  replicas: 1
  resources: {}
  securityContext:
    runAsNonRoot: true
    runAsUser: 65532
    allowPrivilegeEscalation: false
    capabilities:
      drop: [ALL]
    readOnlyRootFilesystem: true
  nodeSelector: {}
  tolerations: []
  affinity: {}
health:
  port: 8081
metrics:
  port: 8080
serviceAccount:
  create: true
  name: tgp-operator
  annotations: {}
rbac:
  create: true
# Configuration is now managed through GPUNodeClass CRDs
# See examples/ directory for sample configurations
