{{- if .Values.config }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "tgp-operator.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tgp-operator.labels" . | nindent 4 }}
data:
  config.yaml: |
    providers:
      vultr:
        enabled: {{ .Values.config.providers.vultr.enabled | default false }}
        credentialsRef:
          name: {{ .Values.config.providers.vultr.credentialsRef.name | default "tgp-operator-secret" }}
          {{- if .Values.config.providers.vultr.credentialsRef.namespace }}
          namespace: {{ .Values.config.providers.vultr.credentialsRef.namespace }}
          {{- end }}
          key: {{ .Values.config.providers.vultr.credentialsRef.key | default "VULTR_API_KEY" }}
      gcp:
        enabled: {{ .Values.config.providers.gcp.enabled | default false }}
        credentialsRef:
          name: {{ .Values.config.providers.gcp.credentialsRef.name | default "tgp-operator-secret" }}
          {{- if .Values.config.providers.gcp.credentialsRef.namespace }}
          namespace: {{ .Values.config.providers.gcp.credentialsRef.namespace }}
          {{- end }}
          key: {{ .Values.config.providers.gcp.credentialsRef.key | default "GOOGLE_APPLICATION_CREDENTIALS_JSON" }}
    talos:
      version: {{ .Values.config.talos.version | quote }}
      extensions:
        {{- range .Values.config.talos.extensions }}
        - {{ . | quote }}
        {{- end }}
{{- end }}