---
name: Main Branch
on:
  push:
    branches: [main]
jobs:
  test-go:
    name: Go Tests
    uses: ./.github/workflows/test-go.yml
    permissions:
      contents: read
  build:
    name: Build Images
    needs: [test-go]
    uses: ./.github/workflows/build-and-push-images.yml
    permissions:
      contents: read
      packages: write
