---
name: Security Scan
on:
  workflow_call:
jobs:
  gosec:
    name: Go Security Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          cache: true
      - name: Run security scans
        run: make security
  trivy:
    name: Trivy Security Scan
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          cache: true
      - name: Run Trivy scans
        run: trivy fs .
